
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<header>
    <div class="nav">
        <div class="logo">
            <img src="images/alipay.svg" alt="">
            <a href="/"><H2>BLOG</H2></a>

        </div>
        
        <a id="contact" href="mailto:thatchinkumarsaravanan@gmail.com">contact</a>
        
    </div>

</header>
